.list-group-item {
  width: 100%;
  border: none;
  background: #e0f5ff;
}

.trash {
  text-align: end;
  cursor: pointer;
}

.list-group {
  border-radius: 16px;
  box-shadow: 3px 5px 11px #00000066;
}
